@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&family=Mea+Culpa&family=Titillium+Web:wght@300;700&display=swap');

h1 {
  font-family: 'Kaushan Script', cursive;
}
 
.masthead {
  height: 600px;
  min-height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./images/lessonimageheader.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed
}